html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(225deg, rgb(50, 50, 100) 0%, rgb(50, 50, 100) 50%, rgb(100, 62, 114) 100%);
  border-radius: 0 0 12px 12px;
  position: relative;
}
.gradient::before, .gradient::after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.gradient::before {
  bottom: -10px;
  right: 20px;
  left: 20px;
  background-color: #CACADB;
}
.gradient::after {
  bottom: -20px;
  right: 40px;
  left: 40px;
  background-color: #E7E7F2;
}

header {
  background-image: url(../img/bg_phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45px 57px 498px;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: 700;
}
header a {
  color: #ffffff;
}
header .menu-holder {
  grid-row: 2/2;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  z-index: 100;
}
header .menu-holder .logo-holder {
  padding-top: 7px;
}
header .menu-holder .logo-holder img:last-child {
  padding-bottom: 7px;
}
header .menu-holder .nav-holder {
  display: none;
}
header .menu-holder .nav {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(50, 50, 100, 0.7);
  transition: 70%;
  height: 100vh;
  animation: fadeInOut 0.5s ease-in-out;
}
header .menu-holder ul {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 15px;
  width: 92%;
  margin: 0 4%;
  background-color: #ffffff;
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
header .menu-holder ul li {
  text-align: end;
}
header .menu-holder ul li svg {
  stroke: #f0145a;
  cursor: pointer;
}
header .menu-holder ul li a {
  text-align: center;
  display: block;
  font-size: 24px;
  border-radius: 8px;
  padding: 7px 0;
  background-color: #f5f5fa;
  color: #24a3ff;
}
header .menu-holder ul li a:hover {
  background-color: #e6e6f0;
}
header .menu-holder ul li a:active,
header .menu-holder ul li a:focus-visible {
  color: #f0145a;
}

.setting-holder {
  padding: 4%;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 250, 0.2);
}
.setting-holder .lang {
  font-size: 12px;
}
.setting-holder .lang a {
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  margin-right: 3px;
}
.setting-holder .lang a:hover {
  background-color: #f0145a;
}
.setting-holder .contact a:hover {
  color: #f0145a;
}

.losung {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}
.losung h1 {
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  line-height: 46.32px;
  margin: 130px 0 156px 0;
}
.losung svg {
  rotate: -90deg;
  transition: 1s;
}
.losung .active {
  rotate: 0deg;
  transition: 1s;
}
.losung svg:hover circle,
.losung svg:hover path,
.losung .active circle,
.losung .active path {
  stroke: #f0145a;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.5;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.description-holder {
  font-family: Montserrat;
  color: #ffffff;
  opacity: 0;
  display: none;
  animation: fadeInOut 1s ease-in-out;
}
.description-holder .buttons {
  display: flex;
  gap: 30px;
  padding-inline: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.description-holder .buttons a {
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 30px;
  font-weight: 700;
  padding: 34px 0;
  transition: 1s;
}
.description-holder .buttons a:nth-child(1) {
  background: linear-gradient(-90deg, rgb(240, 20, 90) 0%, rgb(239, 128, 128) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description-holder .buttons a:nth-child(1):hover,
.description-holder .buttons a:hover {
  -webkit-text-fill-color: #f0145a;
  cursor: pointer;
}
.description-holder .buttons a:visited {
  color: #ffffff;
}
.description-holder .buttons::-webkit-scrollbar {
  display: none;
}
.description-holder .card-holder {
  margin: 0 30px;
  border-top: 4px solid hsla(0, 0%, 100%, 0.3);
  padding-bottom: 30px;
}
.description-holder .card-holder .card {
  display: none;
  opacity: 0;
  animation: fadeInOut 1s ease-in-out;
}
.description-holder .card-holder .card h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
  line-height: 24.38px;
}
.description-holder .card-holder .card p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}
.description-holder .card-holder .card:target {
  display: block;
  opacity: 1;
}

.description-holder.active {
  opacity: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.5;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.services {
  padding: 0 8%;
}
.services p {
  color: #24a3ff;
  text-transform: uppercase;
}
.services .services-holder {
  display: grid;
  gap: 30px;
  padding-bottom: 60px;
}
.services .services-holder h2 {
  background: linear-gradient(90deg, rgb(240, 20, 90) 0%, rgb(239, 128, 128) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  line-height: 36.57px;
}
.services .services-holder .services-card img {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 14px;
}
.services .services-holder .services-card h3 {
  padding: 30px 0 12px 0;
  color: #24a3ff;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
}
.services .services-holder .services-card p {
  line-height: 26px;
  font-size: 16px;
  text-transform: none;
  color: #ffffff;
}

main {
  font-family: Montserrat;
}
main .team {
  padding: 53px 30px 0 30px;
}
main .team .slide-holder {
  display: flex;
  gap: 60px;
  overflow-x: hidden;
  scroll-snap-type: inline mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main .team .slide-holder .slide {
  background-color: #ededf7;
  border-radius: 12px;
  width: 315px;
}
main .team .slide-holder .slide img {
  width: 100%;
  border-radius: 12px 12px 0 0;
}
main .team .slide-holder .slide p {
  color: #24a3ff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 28px 30px 5px 30px;
  line-height: 17.07px;
  letter-spacing: 1px;
}
main .team .slide-holder .slide h2 {
  background: linear-gradient(-90deg, rgb(240, 20, 90) 0%, rgb(239, 128, 128) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 700;
  padding: 0 30px 30px 30px;
  line-height: 36.57px;
}
main .team .slide-holder .slide .bio {
  padding-bottom: 22px;
}
main .team .slide-holder .slide .bio h3 {
  color: #b3b3ba;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  padding: 0 30px;
}
main .team .slide-holder .slide .bio p {
  color: #b3b3ba;
  text-transform: none;
  padding-top: 10px;
  line-height: 22px;
  font-weight: 400;
}
main .team .pagination-holder {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15px;
  margin-top: 32px;
}
main .team .pagination-holder a {
  display: block;
  background-color: hwb(205 14% 0%/0.2);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
main .team .pagination-holder a:active,
main .team .pagination-holder a:hover {
  background-color: #24a3ff;
}

.partners h2 {
  font-family: Montserrat;
  color: #323264;
  text-transform: uppercase;
  text-align: center;
  line-height: 17.07px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 30px;
  padding-top: 60px;
  font-size: 14px;
}
.partners .partners-logos {
  display: grid;
}
.partners .partners-logos img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */