@use "../../common" as *;

.description-holder {
  font-family: Montserrat;
  color: $color-simple;

    
  .buttons {
    display: flex;
    gap: 30px;

    padding-inline: 30px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 30px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    a {
      min-width: fit-content;
      font-size: $font-size-h2-reg;
      font-weight: $font-bold;
      padding: 34px 0;
      transition: 1s;
    }

    a:nth-child(1) {
      background: $color-gradient-redtext;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a:nth-child(1):hover,
    a:hover {
        -webkit-text-fill-color: $color-accent;
        cursor: pointer;
    }

    a:visited {
      color: $color-simple;
    }
  }

  .buttons::-webkit-scrollbar {
    display: none;
  }

  .card-holder {
    margin: 0 30px;
    border-top: 4px solid hsla(0, 0%, 100%, 0.3);
    padding-bottom: 30px;
    .card {
      display: none;

      h3 {
        font-size: 20px;
        font-weight: $font-bold;
        padding: 30px 0;
        line-height: 24.38px;
      }
      p {
        font-size: 19px;
        font-weight: $font-normal;
        line-height: 30px;
      }
    }
    .card:target {
      display: block;
    }
  }

}

